:root {
  @import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");

body {
  font-family: "Kanit", sans-serif;
}
.glass-card {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 5%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
}
}  